.root {
    display: flex;
    justify-content: flex-start;
}

.photo_container {
    width: 20rem;
    height: 22rem;

    border: 1px solid #ba7338;
    border-radius: 5px;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.photo {
    border-radius: 5px;
    width: 100%;
}

.information_container {
    margin-left: 5rem;
}

.information_container h1 {
    font-size: 3rem;

    margin-bottom: 3rem;
}

.information_container h2 {
    font-size: 1.5rem;

    margin-top: 0.5rem;
}