.root {
    display: flex;
    justify-content: space-between;

    margin: 2.5rem auto;
}

.left_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile_photo_container {
    width: 8rem;
    height: 8rem;

    border: 2px solid #ba7338;
    border-radius: 50%;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_photo_container img {
    width: 125%;
}

.follow {
    border: 1px solid #ba7338;

    color: #ba7338;
    background-color: #d5b08d;

    padding: 0.5rem 1.5rem;
    margin-top: 1rem;

    align-self: stretch;

    text-align: center;

    font-size: 1.2rem;
}

.right_col {
    max-width: 70rem;
    width: 70rem;

    margin-left: 3rem;
    padding: 1rem;

    border: 2px solid #ba7338;
    border-radius: 10px;

    align-self: baseline;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.right_col > * {
    flex-basis: 40%;
    align-self: baseline;
}

.location {
    text-align: right;
}

.status {
    margin: 1rem 0 0 0;

    font-size: 1.2rem;
}

