.menu {
    padding: auto 3rem;
}

.menu-item {
    width: 25rem;

    display: flex;
    justify-content: flex-start;
    align-items: stretch;

}

.menu-item>* {
    padding: 1rem;
    margin: 3px;

    border: 1px solid #ba7338;

    background-color: #d5b08d;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.menu-item:first-child>* {
    margin-top: 0;
}

.menu-icon {
    display: flex;
    justify-content: center;

    width: 3rem;
    height: 3rem;

    fill: #ba7338;
}

.menu-item-link {
    font-size: 2rem;

    flex-grow: 1;

    display: flex;
    align-items: center;

    color: #ba7338;
}

.menu-item:last-child {
    margin-top: 5rem;
}