.information {
    display: flex;
    justify-content: flex-start;
}

.photo_container {
    width: 20rem;
    height: 20rem;

    overflow: hidden;

    border: 1px solid #ba7338;
    border-radius: 5px;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.photo {
    border-radius: 5px;
    width: 100%;
}

.insert_photo {
    width: 100%;
}

.description_container {
    margin-left: 5rem;
}

.description_container h1 {
    font-size: 3rem;

}

.description_container > h2 {
    font-size: 1.5rem;

    margin-top: 0.5rem;
}

.contacts_list_items {
    font-size: 1.2rem;

    margin-top: 0.3rem;
    margin-left: 0.3rem;
}

.contacts_list_items h2 {
    font-size: 1.2rem;
    
    display: inline;
}