.information {
    display: flex;
    justify-content: flex-start;
}

.photo_container {
    width: 20rem;
    height: 20rem;

    overflow: hidden;

    border: 1px solid #ba7338;
    border-radius: 5px;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.photo {
    border-radius: 5px;
    width: 100%;
}

.insert_photo_input {
    display: none;
}

.insert_photo_label {
    width: 100%;

    display: block;
    
    padding: 0.5rem 0;
    margin-top: 1.5rem;

    text-align: center;

    font-size: 1.5rem;

    border: 1px solid #ba7338;
    border-radius: 5px;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    background-color: #d5b08d;
    color: #ba7338;
}

