html {
    font-size: 12px;

    height: 100vh;
}

body {
    font-family: "Monomakh", sans-serif;

    padding: 0;
    margin: 0;

    background-color: #f5f7e8;
    
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
} 

ul {
    list-style: none;
    
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;

    color: #000;
}

*::-webkit-input-placeholder {
    font-family: "Monomakh", sans-serif;
    color: #000;
}

*:-ms-input-placeholder {
    font-family: "Monomakh", sans-serif;
    color: #000;
}

*::-moz-placeholder {
    font-family: "Monomakh", sans-serif;
    color: #000;
}

*:-moz-placeholder {
    font-family: "Monomakh", sans-serif;
    color: #000;
}