.root {
    display: flex;
    justify-content: flex-start;
}

.line {
    height: auto;
    width: 1px;

    background-color: #ba7338;

    margin: 0 1.5rem 0 2rem;
}

.dialog_container {
    min-width: 75rem;
    min-height: 75vh;

    position: relative;
}

.messages_container {
    position: absolute;

    top: 0;

    height: 80%;
    width: 100%;

    z-index: 2;
}

.messages_container_wrapper {
    padding: 2em;

    width: 100%;
    height: 100%;

    box-sizing: border-box;

    border: 1px solid #ba7338;
    border-radius: 10px;

    background-color: #d5b08d;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    overflow-y: scroll;

    -ms-overflow-style: none;
    /* IE 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.messages_container_wrapper::-webkit-scrollbar {
    /* chrome based */
    width: 0px;
    /* ширина scrollbar'a */
    background: transparent;
    /* опционально */
}

